 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1525px;
}

.u-section-1 .u-image-1 {
  height: 306px;
  width: 716px;
  margin: 1px 173px 0 auto;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 23px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  font-size: 4.5rem;
  margin: -206px 363px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 171px;
  height: 171px;
  margin: -112px auto 0 180px;
}

.u-section-1 .u-text-2 {
  text-transform: none;
  margin: 108px auto 0;
}

.u-section-1 .u-text-3 {
  margin: 50px 231px 0 auto;
}

.u-section-1 .u-image-3 {
  width: 538px;
  height: 300px;
  box-shadow: 0px 10px 8px 10px rgba(128,128,128,1);
  margin: -29px auto 0 76px;
}

.u-section-1 .u-text-4 {
  margin: -258px 159px 0 auto;
}

.u-section-1 .u-text-5 {
  margin: 37px 343px 0 auto;
}

.u-section-1 .u-text-6 {
  margin: 5px 14px 0 666px;
}

.u-section-1 .u-text-7 {
  margin: 84px auto 0;
}

.u-section-1 .u-text-8 {
  margin: 14px auto 0;
}

.u-section-1 .u-image-4 {
  width: 951px;
  height: 396px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 16px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1520px;
  }

  .u-section-1 .u-image-1 {
    inset: auto;
  }

  .u-section-1 .u-text-1 {
    margin-right: 299px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -69px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 69px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -94px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -206px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -124px;
    margin-right: 283px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 180px;
    margin-left: 65px;
    margin-right: 65px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 0;
  }

  .u-section-1 .u-image-4 {
    width: 940px;
    height: 391px;
    margin-top: 41px;
    margin-bottom: -50px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1428px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 4px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 229px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -68px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -231px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 217px;
  }

  .u-section-1 .u-image-4 {
    width: 720px;
    height: 299px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1278px;
  }

  .u-section-1 .u-image-1 {
    height: 231px;
    width: 540px;
    margin-right: 0;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    margin-top: -131px;
    margin-right: 172px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 173px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 34px;
    margin-left: 2px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -334px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 163px;
  }

  .u-section-1 .u-image-4 {
    width: 540px;
    height: 224px;
    margin-bottom: -164px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 999px;
  }

  .u-section-1 .u-image-1 {
    height: 145px;
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -45px;
    margin-right: 108px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 169px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 109px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 190px;
    margin-top: 418px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -608px;
    margin-right: 100px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -175px;
    margin-right: 103px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 232px;
  }

  .u-section-1 .u-text-7 {
    margin-top: -135px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -38px;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 141px;
    margin-top: -62px;
    margin-bottom: -19px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 812px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 17px auto 0;
}

.u-section-2 .u-image-1 {
  width: 824px;
  height: 551px;
  margin: 18px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 481px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 622px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 361px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 488px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 227px;
  }
}